<meta charset="UTF-8">
<div class="row row-fluid row-outter row-footer">
			<div class="row row-fluid">
				<div class="nova-geracao">
					powered by:
					<br><span><a href="#">nova geracao</a></span>
				</div>
			</div>
		</div>