	<meta charset="UTF-8">
		<div class="row row-fluid row-header">
		    <div class="blog-masthead">
			  <div class="nova-geracao">
			  	<span>nova geracao</span>
			  </div>
		      <div class="container">
		        <nav class="blog-nav">
		          <a class="blog-nav-item" href="home">Home</a>
		          <a class="blog-nav-item" href="produtose-e-ventos">Em Ação</a>
		          <a class="blog-nav-item active" href="#">Blog</a>
		          <a class="blog-nav-item" href="login">Login</a>
		        </nav>
		      </div>
		    </div>
		</div>
